
wiki/Note/django.py
wiki/Note/djangoVideo/djangoVideo/__init__.py
wiki/Note/djangoVideo/djangoVideo/__pycache__/__init__.cpython-310.pyc
wiki/Note/djangoVideo/djangoVideo/__pycache__/settings.cpython-310.pyc
wiki/Note/djangoVideo/djangoVideo/__pycache__/urls.cpython-310.pyc
wiki/Note/djangoVideo/djangoVideo/__pycache__/wsgi.cpython-310.pyc
wiki/Note/djangoVideo/djangoVideo/asgi.py
wiki/Note/djangoVideo/djangoVideo/settings.py
wiki/Note/djangoVideo/djangoVideo/urls.py
wiki/Note/djangoVideo/djangoVideo/wsgi.py
wiki/Note/djangoVideo/hello/__init__.py
wiki/Note/djangoVideo/hello/__pycache__/__init__.cpython-310.pyc
wiki/Note/djangoVideo/hello/__pycache__/admin.cpython-310.pyc
wiki/Note/djangoVideo/hello/__pycache__/apps.cpython-310.pyc
wiki/Note/djangoVideo/hello/__pycache__/models.cpython-310.pyc
wiki/Note/djangoVideo/hello/__pycache__/urls.cpython-310.pyc
wiki/Note/djangoVideo/hello/__pycache__/views.cpython-310.pyc
wiki/Note/djangoVideo/hello/admin.py
wiki/Note/djangoVideo/hello/apps.py
wiki/Note/djangoVideo/hello/migrations/__init__.py
wiki/Note/djangoVideo/hello/migrations/__pycache__/__init__.cpython-310.pyc
wiki/Note/djangoVideo/hello/models.py
wiki/Note/djangoVideo/hello/templates/hello/greet.html
wiki/Note/djangoVideo/hello/templates/hello/index.html
wiki/Note/djangoVideo/hello/tests.py
wiki/Note/djangoVideo/hello/urls.py
wiki/Note/djangoVideo/hello/views.py
wiki/Note/djangoVideo/manage.py
wiki/Note/djangoVideo/newYear/__init__.py
wiki/Note/djangoVideo/newYear/__pycache__/__init__.cpython-310.pyc
wiki/Note/djangoVideo/newYear/__pycache__/admin.cpython-310.pyc
wiki/Note/djangoVideo/newYear/__pycache__/apps.cpython-310.pyc
wiki/Note/djangoVideo/newYear/__pycache__/models.cpython-310.pyc
wiki/Note/djangoVideo/newYear/__pycache__/urls.cpython-310.pyc
wiki/Note/djangoVideo/newYear/__pycache__/views.cpython-310.pyc
wiki/Note/djangoVideo/newYear/admin.py
wiki/Note/djangoVideo/newYear/apps.py
wiki/Note/djangoVideo/newYear/migrations/__init__.py
wiki/Note/djangoVideo/newYear/migrations/__pycache__/__init__.cpython-310.pyc
wiki/Note/djangoVideo/newYear/models.py
wiki/Note/djangoVideo/newYear/templates/newYear/index.html
wiki/Note/djangoVideo/newYear/tests.py
wiki/Note/djangoVideo/newYear/urls.py
wiki/Note/djangoVideo/newYear/views.py
wiki/Note/note.py
wiki/Note/djangoVideo/db.sqlite3
